@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-wrapper {
  display: flex;
  margin: 15px 5px 0;
  padding: 15px 0 0;
  font-family: "Mulish", sans-serif;
  justify-content: space-between;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 22%;
    width: 100%;
    height: 100%;
    padding: 0 10px;

    img {
      width: 100%;
    }

    .product-info {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 10px;

      p {
        color: #848484;
        font-size: 14px;
      }

      a {
        color: #000;
        font-size: 15px;
        text-decoration: none;
      }

      h3 {
        color: #dd2871;
        font-size: 16px;
      }

      .product-grade {
        display: flex;

        i {
          color: goldenrod;
        }
      }

      .default-button {
        border: 1px solid blue;
        background-color: white;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        padding: 20px 40px;
        white-space: nowrap;

        p {
          color: #000;
          font-family: "Barlow Condensed", sans-serif;
          font-weight: 600;
          font-size: 16px;
          text-transform: uppercase;
          z-index: 1;
        }
        &:hover {
          .button-fill {
            width: 100%;
            z-index: 2;
          }

          p {
            color: #fff;
            z-index: 3;
  
          }
        }

    
      }

      .button-fill {
        transition: 0.5s;
        height: 100%;
        background-color: blue;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}
